/* misc */
* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  line-height: 1rem;
  margin: 0;
  background-color: whitesmoke; }

section articles img {
  width: 250px;
  height: 250px;
  padding: 15px; }

section articles p {
  color: black;
  text-align: center; }

header {
  margin-bottom: 50px;
  justify-content: space-between; }

form {
  margin-left: 50px; }

main div img {
  width: 100%;
  padding-bottom: 5rem; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media (max-width: 768px) {
  /* Header */
  .navbar {
    display: flex;
    align-items: center;
    background-color: #ccff34;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
  .logo {
    display: flex;
    grid-column: 2/3; }
  .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    grid-column: 4/7; }
  .menu a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif; }
  .menu a:hover {
    background-color: rgba(0, 0, 0, 0.081); } }

/* Fin Header */
@media (max-width: 480px) {
  /* Header */
  .navbar {
    display: flex;
    align-items: center;
    background-color: #ccff34;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
  .logo {
    display: flex;
    grid-column: 2/3; }
  .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    grid-column: 4/7; }
  .menu a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif; }
  .menu a:hover {
    background-color: rgba(0, 0, 0, 0.081); } }

@media (max-width: 480px) {
  .form {
    width: 85%; } }

/* misc */
/* partials */
.navbar {
  display: flex;
  align-items: center;
  background-color: #ccff34;
  display: grid;
  grid-template-columns: repeat(8, 1fr); }
  .navbar .logo {
    display: flex;
    grid-column: 2/3; }
  .navbar .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    grid-column: 4/7; }
  .navbar .menu a {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif; }
  .navbar .menu a:hover {
    background-color: rgba(0, 0, 0, 0.081); }

.footer {
  background-color: whitesmoke;
  position: absolute;
  text-align: justify;
  width: 100%;
  margin-top: 50rem;
  display: block; }
  .footer .footer ul li a {
    text-decoration: none;
    list-style: none; }

.redes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none; }

.redes li a {
  text-decoration: none;
  color: black; }

/* partials */
/* pages */
.slider {
  width: 80%;
  margin: auto;
  overflow: hidden; }
  .slider .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 5s infinite alternate; }
  .slider .slider li {
    width: 100%;
    list-style: none; }
  .slider .slider img {
    width: 100%; }

.widith {
  width: 85%; }

.widith div li {
  list-style: none; }

.accordion-padding {
  padding: 10px; }

.accordion-padding a {
  list-style: none;
  font-style: none;
  text-decoration: none;
  color: black; }

.margin-section {
  margin-top: 5rem; }

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px; }

.cards articles {
  border: solid rgba(106, 106, 106, 0.335) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 450px;
  flex-flow: row wrap;
  column-gap: 30px;
  justify-content: center;
  margin: 30px; }

.cards articles:hover {
  background-color: rgba(160, 160, 160, 0.09);
  padding: 1px;
  transition: all 0.4s; }

.font-size-title {
  padding-top: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px; }

.font-size {
  font-size: 30px; }

.background {
  background-color: #ccff34; }

.form {
  width: 65%; }

.padding-card {
  padding: 40px 15px; }

/* pages */
