/* misc */
* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  line-height: 1rem;
  margin: 0; }

section articles img {
  width: 250px;
  height: 250px;
  padding: 15px; }

section articles p {
  color: black;
  text-align: center; }

header {
  margin-bottom: 50px;
  justify-content: space-between; }

form {
  margin-left: 50px; }

main div img {
  width: 100%;
  padding-bottom: 5rem; }

nav ul {
  margin-bottom: 0px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

@media (max-width: 991px) {
  /* Header */
  .navbar2 {
    display: flex;
    align-items: center;
    background-color: #ccff34;
    padding: 10px;
    font-size: 20px; }
    .navbar2 .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      list-style: none; }
    .navbar2 .menu a {
      text-decoration: none;
      color: black;
      border-radius: 0.5rem;
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.4s;
      font-family: 'Roboto', sans-serif; }
    .navbar2 .menu a:hover {
      background-color: rgba(0, 0, 0, 0.081); }
  .navbar-collapse, .navbar-expand-lg {
    display: flex;
    justify-content: center; }
  .logo {
    display: flex; }
  .search {
    width: 20em; } }

/* Fin Header */
@media (max-width: 480px) {
  /* Header */
  .navbar1 {
    display: flex;
    align-items: center;
    background-color: #ccff34;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
  .logo {
    display: flex;
    grid-column: 2/3; }
  .menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    grid-column: 2/8; }
  .menu a {
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif; }
  .menu a:hover {
    background-color: rgba(0, 0, 0, 0.081); } }

@media (max-width: 480px) {
  .form {
    width: 85%; }
  .navbar1 {
    display: flex;
    flex-direction: row; }
  .navbar2 {
    display: flex;
    flex-direction: row; } }

@media (max-width: 320px) {
  .navbar1 {
    display: flex;
    flex-direction: column; }
  .navbar2 {
    display: flex;
    flex-direction: row; }
  .search {
    padding-right: 40px; }
  .logo {
    width: 50%;
    margin: 0 0; }
  .group {
    padding: 0.5em; }
  .navbar-collapse, .navbar-expand-lg {
    display: flex;
    justify-content: s; }
  .group {
    padding-top: 1em; } }

/* misc */
/* partials */
.navbar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccff34; }
  .navbar1 .cart {
    border-radius: 1.5rem;
    padding: 5px;
    width: 40px;
    height: 40px;
    transition: all 0.4s;
    margin-left: rem; }
  .navbar1 .cart:hover {
    background-color: #ccff34; }

.navbar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccff34;
  padding: 10px;
  font-size: 20px; }
  .navbar2 .menu {
    display: flex;
    justify-content: center;
    list-style: none; }
  .navbar2 .menu a {
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
    font-family: 'Roboto', sans-serif; }
  .navbar2 .menu a:hover {
    background-color: rgba(0, 0, 0, 0.081); }

.navbar-collapse, .navbar-expand-lg {
  display: flex;
  justify-content: center; }

.logo {
  display: flex; }

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  gap: 1em; }

.btn {
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.btn:hover {
  border-radius: 0.5em;
  padding: 0.5em 1em;
  transition: all 0.4s;
  background-color: #ccff34; }

.search {
  width: 20em; }

.footer {
  position: absolute;
  text-align: justify;
  width: 100%;
  display: block;
  margin-top: 3em; }
  .footer .footer ul li a {
    text-decoration: none;
    list-style: none; }

.redes {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none; }

.redes li a {
  text-decoration: none;
  color: black; }

/* partials */
/* pages */
.slider {
  width: 80%;
  margin: auto;
  overflow: hidden; }
  .slider .slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 5s infinite alternate; }
  .slider .slider li {
    width: 100%;
    list-style: none; }
  .slider .slider img {
    width: 100%; }

.h1 {
  display: flex;
  margin: auto;
  padding-bottom: 4rem; }

.widith {
  width: 85%; }

.widith div li {
  list-style: none; }

.accordion-padding {
  padding: 10px; }

.accordion-padding a {
  list-style: none;
  font-style: none;
  text-decoration: none;
  color: black; }

.margin-section {
  margin-top: 3rem;
  padding-left: 10em;
  padding-right: 10em; }

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px; }

.cards articles {
  border: solid rgba(106, 106, 106, 0.335) 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 450px;
  flex-flow: row wrap;
  column-gap: 30px;
  justify-content: center;
  margin: 30px; }

.cards articles:hover {
  background-color: rgba(160, 160, 160, 0.09);
  padding: 1px;
  transition: all 0.4s; }

.font-size-title {
  padding-top: 10px;
  font-size: 22px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px; }

.font-size {
  font-size: 30px;
  line-height: 24px; }

.line-height {
  line-height: 24px; }

.background {
  background-color: #ccff34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.h3 {
  margin-top: 2em;
  margin-bottom: 2em; }

.form {
  width: 65%; }

.padding-card {
  padding: 40px 15px; }

/* pages */
