.footer {
    position: absolute;
    text-align: justify;
    width: 100%;
    display: block;
    margin-top: 3em;

         .footer ul li a {
            text-decoration: none;
            list-style: none;
        }
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style: none;
}
    .redes li a {
        text-decoration: none;
        color: black;
    }