.footer {
    background-color: whitesmoke;
    position: absolute;
    text-align: justify;
    width: 100%;
    margin-top: 50rem;    
    display: block;
   
         .footer ul li a {
             text-decoration: none;
             list-style: none;
         }
}
