.footer {
    background-color: whitesmoke;
    position: absolute;
    text-align: justify;
    width: 100%;
    margin-top: 5rem;    
    display: block;

         .footer ul li a {
            text-decoration: none;
            list-style: none;
        }
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style: none;
}
    .redes li a {
        text-decoration: none;
        color: black;
    }