.widith {
    width: 85%;
}    

    .widith div li {
        list-style: none;
    }   

.accordion-padding{
padding: 10px;
}
    .accordion-padding a{
    list-style: none;
    font-style: none;
    text-decoration: none;
    color: black;
}


.cards {
    @include flex(column, center, center, 10px);
    flex-wrap: wrap;
    padding: 30px;
}    
    .cards articles {
        border: solid rgba(106, 106, 106, 0.335) 1px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        width: 280px;
        height: 450px;
        flex-flow: row wrap;
        column-gap: 30px;
        justify-content: center;
        margin: 30px;       
    }
        .cards articles:hover{
            background-color: rgba(160, 160, 160, 0.09);
            padding: 1px;
            transition: all 0.4s ;
        }

.font-size-title {
    padding-top: 10px;
    font-size: 22px;
    line-height: 24px;
    @include flex(row, center, center, 0px);
}

.font-size {
    font-size: 30px;
    line-height: 24px;
}

.line-height {
    line-height: 24px;
}
                 
            