@media (max-width:768px) {

    /* Header */
 
    .navbar {
        display: flex;
        align-items: center;
        background-color: rgb(204, 255, 52);
        display: grid;
        grid-template-columns: repeat(8,1fr);
        }
    
            .logo {
                display: flex;
                grid-column: 2/3;
            }   
    
            .menu {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                list-style: none;
                grid-column: 4/7;
            }
                .menu a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    border: solid 1px rgb(0, 0, 0);
                    border-radius: 0.5rem;
                    display: block;
                    padding: 0.5rem 1rem;
                    transition: all 0.4s ;
                    font-family: 'Roboto', sans-serif;
                }
                    .menu a:hover{
                        background-color: rgba(0, 0, 0, 0.081);
                    }   
    
    }
 
 /* Fin Header */  

 
 @media (max-width:480px) {
 
     /* Header */
  
     .navbar {
        display: flex;
        align-items: center;
        background-color: rgb(204, 255, 52);
        display: grid;
        grid-template-columns: repeat(8,1fr);
        }
    
            .logo {
                display: flex;
                grid-column: 2/3;
            }   
    
            .menu {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                list-style: none;
                grid-column: 4/7;
            }
                .menu a{
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    border: solid 1px rgb(0, 0, 0);
                    border-radius: 0.5rem;
                    display: block;
                    padding: 0.5rem 1rem;
                    transition: all 0.4s ;
                    font-family: 'Roboto', sans-serif;
                }
                    .menu a:hover{
                        background-color: rgba(0, 0, 0, 0.081);
                    }   
    
}
  
 
@media (max-width:480px) {
   .form{
       width: 85%;
   }
}